# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0520bcaa85b8268ff20a1edcbb2975ef9746ce20f913c65f2ca3c1af125e8faaae24b12021885c0a149e83c5edd569db8687686263a4976edf2b293aa068abd7

test:
  secret_key_base: 6ef30d25d569ad15ab0b406f9e94399841325e335cdcec7d173bbf8d5e00efc3c79a5dfab3dd94c145ec002ddafc0df8b13668df0436bcb44b5ccbde7d2559e3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
