.contact_us {
  background: #f0f0f2;
  min-width: 1200px;
  height: auto;
  position: relative;
  .full-width {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .items {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    min-width: 1200px;
    padding-left: 100px;
    padding-right: 100px;
    top: 40%;
    .item {
      width: 250px;
      padding: 16px;
      text-decoration: none;
      .circle {
        width: 80px;
        height: 80px;
        border: 1px solid #666666;
        border-radius: 80px;
        align-content: center;
        .fa {
          font-size: 33px;
          color: #666666;
        }
      }
      .detail {
        white-space: pre-wrap;
        .horizontal-divider {
          width: 166px;
          height: 1px;
          background-color: #a80309;
        }
        .vertical-divider {
          width: 1px;
          height: 42px;
          background-color: #a80309;
        }
        p {
          width: 100%;
          text-align: center;
          font-size: 16px;
          color: #a80309;
        }
        .bold-title {
          font-weight: bold;
          margin-top: 14px;
        }
        .company-info {
          font-size: 13px;
          color: #000;
          text-align: center;
          line-height: 26px;
        }
        .widget {
          width: 160px;
          height: 48px;
          color: #a80309;
          cursor: pointer;
          text-align: center;
          justify-content: space-between;
          span {
            font-size: 18px;
            font-weight: bold;
          }
          .text {
            font-size: 15px;
          }
        }
        .qr-code {
          width: 132px;
          height: 132px;
          margin-top: 20px;
        }
      }
    }
  }
}