@import 'mixins';

.news {
  background: #f0f0f2;
  min-width: 1200px;
  height: auto;
  .image-banner {
    p {
      font-size: 38px;
      line-height: 41px;
     }
    .vertical-divider {
      width: 1px;
      height: 30px;
      background-color: #fff;
      margin: 6px 36px 6px 36px;
    }
  }
  .news-menu {
    width: 100%;
    height: 130px;
    padding: 20px;
    padding-left: 144px;
    padding-right: 144px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    background: #fff;
    a:hover {
      color: #a80309;
    }
    .menu-item {
      font-size: 25px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .year-item {
      font-size: 20px;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      margin-left: 100px;
    }
    .vertical-divider {
      width: 1px;
      height: 36px;
      background-color: #a80309;
      margin: 0px 36px 0px 36px;
    }
  }
  .news-list {
    margin-left: 144px;
    margin-right: 144px;
    padding-bottom: 120px;
    .empty-item {
      height: 240px;
    }
    a {
      color: #757575;
    }
    .news-item {
      height: auto;
      padding-top: 24px;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      .news-date {
        height: 100px;
        display: inline-block;
        margin-right: 36px;
        p {
          width: 110px;
          text-align: center;
          color: #5c5c5c;
          font-size: 20px;
        }
        i {
          font-size: 24px;
          width: 100%;
          text-align: center;
        }
      }
      .vertical-divider {
        min-width: 1px;
        height: 48px;
        background-color: #a80309;
      }
      .news-description {
        margin-left: 36px;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        .title {
          margin: 0px;
          font-size: 20px;
          color: #101010;
        }
        p {
          display: flex;
          display: -webkit-flex;
          font-size: 15px;
          color: #5c5c5c;
          line-height: 30px;
          margin-top: 18px;
        }
        .horizontal-divider {
          width: 100%;
          height: 2px;
          margin-top: 20px;
          margin-bottom: 2px;
          background-color: #fff;
          align-content: flex-end;
          justify-content: flex-end;
          -webkit-align-content: flex-end;
          -webkit-justify-content: flex-end;
        }
      }
    }
  }
}

@include respond-to(mobile) {
  .news {
    min-width: 0px;
    .image-banner {
      p {
        font-size: 24px;
        line-height: 33px;
      }
      .vertical-divider {
        width: 1px;
        height: 24px;
        background-color: #fff;
        margin: 6px 12px 6px 12px;
      }
    }
    .news-menu {
      height: 80px;
      padding: 0px;
      flex-direction: column;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      a:hover {
        color: #a80309;
      }
      .menu-item {
        font-size: 13px;
        line-height: 19px;
      }
      .year-item {
        font-size: 14px;
        line-height: 20px;
        margin-left: 30px;
        margin-right: 30px;
      }
      .vertical-divider {
        height: 16px;
      }
    }
    .news-list {
      margin-left: 18px;
      margin-right: 18px;
      padding-bottom: 120px;
      .empty-item {
        height: 196px;
      }
      a {
        color: #757575;
      }
      .news-item {
        flex-direction: column;
        -webkit-flex-direction: column;
        .news-date {
          height: 30px;
          p {
            text-align: start;
            align-self: flex-start;
            font-size: 12px;
            line-height: 17px;
          }
          i {
            display: none;
          }
        }
        .vertical-divider {
          display: none;
        }
        .news-description {
          margin-left: 0px;
          .title {
            margin: 0px;
            font-size: 14px;
            line-height: 20px;
          }
          p {
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
    }
  }
}