@import 'mixins';

.news-show {
  background: #f0f0f2;
  min-width: 1200px;
  height: auto;
  .full-width {
    width: 100%;
    height: 220px;
    background: #fff;
    padding-bottom: 40px;
    .inner {
      width: 100%;
      height: 180px;
      overflow: hidden;
      .image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
  .mailTo {
    position: fixed;
    top: 80%;
    right: 20px;
    z-index: 5;
    .icon {
      width: 60px;
      height: auto;  
    }
  }
  .news-show-content {
    margin-top: 20px;
    width: 1200px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 240px;
    margin-bottom: 144px;
    background: #fff;
    padding-left: 282px;
    padding-right: 282px;
    position: relative;
    .title {
      width: 100%;
      padding: 0px;
      font-size: 24px;
      color: #101010;
      line-height: 35px;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Pingfang SC", "Microsoft Yahei", sans-serif;
    }
    .date {
      width: 100%;
      height: 32px;
      font-size: 18px;
      color: #75757F;
      line-height: 26px;
      margin-top: 16px;
      margin-bottom: 42px;
      text-align: center;
      padding-top: 3px;
      border: 1px solid #75757F;
    }
    .news-content {
      width: 100%;
      height: auto;
      font-size: 16px;
      color: #5C5C5C;
      line-height: 30px;
    }
    .back-content {
      top: 24px;
      right: 16px;
      position: absolute;
      cursor: pointer;
      p {
        font-size: 12px;
        line-height: 30px;
        color: #101010;
      }
      i {
        width: 30px;
        height: 30px;
        font-size: 20px;
        text-align: center;
        border: 1px solid #75757F;
        border-radius: 15px;
        line-height: 28px;
        margin-left: 20px;
        color: #000;
      }
    }
  }
}

@include respond-to(mobile) {
  .news-show {
    min-width: 0px;
    .full-width {
      display: none;
    }
    .mailTo {
      position: fixed;
      top: 80%;
      right: 20px;
      z-index: 5;
      .icon {
        width: 60px;
        height: auto;  
      }
    }
    .news-show-content {
      width: 100%;
      margin: 48px 0px 0px 0px;
      padding: 60px 12px 40px 12px;
      .title {
        font-size: 14px;
        line-height: 20px;
      }
      .date {
        height: auto;
        font-size: 12px;
        line-height: 17px;
        margin-top: 6px;
        margin-bottom: 12px;
        border: none;
        text-align: start;
      }
      .news-content {
        font-size: 12px;
        line-height: 24px;
        position: relative;
        img {
          width: 100% !important;
          height: auto !important;
          object-fit: contain;
        }
      }
      .back-content {
        i {
          width: 24px;
          height: 24px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}